#root {
  margin: 0 auto;
  text-align: center;
}

/*! ======================== THE LOADER ==================== */
/** content principal */
.loader {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: darkslategrey;
}
/** IMG LOGO */
.logo {
  height: 6em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/*! =================== CONTAINER WEATHER ================= */
.container--weather-info {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/** ======================== VIDEO BACKGROUND ======================= */
.content--video-background {
  width: 100vw;
  height: 100vh;
}
.video--background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/** ========================== CONTAINER CARD INFO ===================== */
/* title */
.content--title h1 {
  margin-bottom: 0px;
}
.content--title {
  grid-column: 1/-1;
}
/* ========== content--img-country ============== */
.content--img-country {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content--temp-country {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.content--countryDate {
  font-weight: 300;
  font-size: 2em;
  line-height: 30px;
}
.content--temp {
  font-weight: 700;
  font-size: 4em;
  line-height: 50px;
}

/* ================== content--img-description =========== */
.content--img-description {
  display: flex;
  flex-direction: column;
}
/* content--img-weather */
.content--img-weather {
  width: 100px;
  height: 100px;
  position: relative;
  right: 20px;
}
/* img weather */
.icon--weather {
  width: 140px;
}

/*? ==================  SECTION DETAILS ================= */
.content--info-details-weather {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  align-items: center;
}
.content--info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
