.loader {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: darkslategrey;
}
/** IMG LOGO */
.logo {
  height: 6em;
  will-change: filter;
  animation: logo-spin infinite 20s linear;
  margin-bottom: 2em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
